//fonts
$primary-font: Montserrat, sans-serif;
$secondary-font: Vollkorn, serif;
$blog-font: Roboto, sans-serif;

//font colors
$primary-fontcolor: #303030;
$footer-fontcolor: #3c3d3d;
$lastupd-fontcolor: #fdfdfd;

//bg colors
$header-bgcolor: #fff;
$footer-bgcolor: #f3f3f3;
$main-bgcolor: #f7f7f7;
$article-bgcolor: #fafafa;
$button-bgcolor-hover: #D6D6D6;
$button-bgcolor: #E5E5E5;
$main-hdrcolor: #f5f5f5;

//link colors
$black: #000;
$header-linkcolor: #616161;
$footer-linkcolor: #767877;


//mixins
@mixin shadow() {
    -webkit-box-shadow: 0px 52px 127px -7px 
        rgba(125,125,125,0.7);
    -moz-box-shadow: 0px 52px 127px -7px 
        rgba(125,125,125,0.7);
    box-shadow: 0px 52px 127px -7px 
        rgba(125,125,125,0.7);
}

@mixin shadow-transition() {
    -o-transition: box-shadow 0.5s ease-in-out; 
    -ms-transition: box-shadow 0.5s ease-in-out; 
    -moz-transition: box-shadow 0.5s ease-in-out; 
    -webkit-transition: box-shadow 0.5s ease-in-out; 
    transition: box-shadow 0.5s ease-in-out; 
}

@mixin buttonhover-transition() {
    -o-transition: background-color 0.5s ease-in-out; 
    -ms-transition: background-color 0.5s ease-in-out; 
    -moz-transition: background-color 0.5s ease-in-out; 
    -webkit-transition: background-color 0.5s ease-in-out; 
    transition: background-color 0.5s ease-in-out; 
}

@mixin footer-blog-links() {
    @include menu-transition();
    color: $footer-linkcolor;
    text-decoration: none;
}

@mixin menu-transition() {
    -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

@mixin bgcenter() {
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin bgcentertop() {
    background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

//main code

body {
    font: 16px / 1.5 $primary-font; 
    color: $primary-fontcolor;
}

strong {
    font-weight: 700;
}

/*responsiveness test*/

@media (min-width: 1920px) and (orientation: landscape) {
    body { 
        font-size: 22px;}
    .featgood img {
        //display: inline-block;
        //width: 16em;
        margin: 2em; }
}

@media (max-width: 580px) and (orientation: portrait) {
    body { 
        font-size: 12px;}
    .featgood img {
        height: 20em;
        width: 20em;
        margin: 2em; }
    
    footer {
        .fmenu {
            li {
            display: inherit;
            text-align: center;
            } 
        }
    }
    
}

//@media (max-width: 930px) and (orientation: landscape) {
//    body { 
//        background-color: $black;
//        font-size: 100px;}
//    .featgood img {
//        //display: inline-block;
//        //width: 11em;
//        margin: 1.3em; }
//    .product-button {
//        position: relative;
//        top: 10em;}
//    
//}
//
//@media (max-width: 500px) and (orientation: landscape) {
//    body { 
//        font-size: 9px;
//    }
//    
//    .featgood {
//        display: flex;
//        flex-flow: column;
//        justify-content: center;
//    }
//    
//    
//}

/**/

/*header stuff*/

header {
	background-color: $main-bgcolor;
    background-image: url('../images/cover/cover-1.jpg');
    padding: 12.2em 4em 15em 2em;
    @include bgcentertop();
    /*HANDWOOD text*/
    h1 {
    text-align: right;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: .1em;
        .uniqhdr {
            opacity: 1;
            transition: opacity .7s ease-in-out;
            -o-transition: opacity .7s ease-in-out; 
            -ms-transition: opacity .7s ease-in-out; 
            -moz-transition: opacity .7s ease-in-out; 
            -webkit-transition: opacity .7s ease-in-out; 
            transition: box-shadow opacity .7s ease-in-out; 
        }
    }
}

/* main menu ul and li */

.wrapper {
    opacity: 0;
    transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out; 
    -ms-transition: opacity .7s ease-in-out; 
    -moz-transition: opacity .7s ease-in-out; 
    -webkit-transition: opacity .7s ease-in-out; 
    transition: box-shadow opacity .7s ease-in-out; 
}

ul {
    margin: 0;
    padding: 0;
    &.hmenu {
        font: 1.2em $secondary-font;
        text-decoration: none;
        text-align: right;
        position: relative;
        top: 12em;
    
        li {
            margin-right: 0.7em;
            font-weight: 400;
            font-style: italic;
            display: inline;
        }
    }
}

.addhdr {
    text-transform: uppercase;
    position: relative;
    top: 2.15em;
    right: 7.3em;
    text-align: right;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: .1em;
}

/*end of header stuff*/

/*main part of body stuff*/

/*header for the site sections*/
.sectitle {
    background-color: $main-hdrcolor;
	background-position: center;
	padding: 3em;
	text-align: center;
    
    .sectitletext {
        font-size: 1.5em;
        font-weight: 700;
        margin-left: .5em;
        letter-spacing: .1em;
    }
}

/*featured goods section*/

.featgood {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	@include bgcentertop();
    background-color: $main-bgcolor;
	padding-bottom: 4em;
    text-align: center;
    
    &:empty {
        content: "";
        flex: auto;
    }
}
    
    figure {
        
        margin-left: 3.4em;
        margin-right: 3.4em;
        margin-top: 2em;
        box-sizing: border-box;
    
        img {
            @include shadow-transition();
            //display: inline-block;
            width: 14.2em;
        }
    }


/*  this way doesn't work and i don't understand why
    should try it later
    THIS
    http://tobiasahlin.com/blog/how-to-animate-box-shadow/

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);


.featgood img::after {
    -webkit-box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.featgood img:hover::after {
      opacity: 1;
}
*/

.featgood img:hover {
    @include shadow();
}

.featgood figure {
    display: inline-block;
}

/*last updates section*/

.lastupd {
    font: 2em $secondary-font;
    color: $lastupd-fontcolor;
    letter-spacing: 0.17em;
    background-color: $main-bgcolor;
	padding-bottom: 2.5em;
    text-align: center;
}

/*block for content placement*/

.newsblock {
    @include shadow-transition();
    display: inline-block;
    text-align: center;
    width: 35em;
    height: 10em;
    line-height: 10em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    
    &:hover {
        @include shadow
    }
}

/*content block styles*/

#newskhomich {
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url('../images/lastupd/khomich.png');
    @include bgcenter();
}

#newscreate {
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url('../images/lastupd/create.png');
    @include bgcenter();
}

#newsflava {
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url('../images/lastupd/flava.png');
    @include bgcentertop();
}

/*end of main part of body stuff*/

/*footer stuff*/
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $footer-bgcolor;
    padding: 2em 2em;
    color: $footer-fontcolor;
    line-height: 1.8;
    
    div {
        
    }
}

/*follow footer menu*/
.follow {
    line-height: 1.8em;
    font-size: 1.5em;
    
    li {
        display: inline;
        margin-top: 4em;
        margin-left: 1em;
        margin-right: auto;
    }
}

/*right footer menu*/
.fmenu {
    margin-top: 3em;
    
    li {
        display: inline;
        font-size: 1em; 
        margin-left: 1.5em;
        margin-right: auto;
        
    }
}

.ftext {
    margin-top: 1.5em;
    font: 700 1.4em $primary-font; 
    
}

/*end of footer stuff*/


//BLOG SECTION


article {
    display: inline-block;
    background-color: $article-bgcolor;
    padding: 2.5em 14em .8em 14em;
    
    //date of article post
    .postdate {
        text-transform: uppercase;
    }
    
    //block with picture
    .postpicblock {
        @extend .lastupd;
        @include shadow-transition();
        height: 5em;
        line-height: 8em;
        margin-bottom: .7em;
        margin-top: .5em;
        
        &:hover {
        @include shadow
        }
    }
    
    //main text of post
    .posttext {
        font: 1em / 1.5 $blog-font;
        margin-bottom: 1em;
    }
}

//blank space under all posts
.bottomspace {
    background-color: $article-bgcolor;
    padding: 2em;
    text-align: center;
    overflow: hidden;
}

//PRODUCT PAGE SECTION

//header of product page 
.product-header {
    background: $main-hdrcolor;
    background-image: none;
    font: $primary-font;
    color: $primary-fontcolor;
    height: 3em;
    width: 100%;
    line-height: 3em;
    padding: .7em 0em .7em 0em;
    display: table;
     
    //left section of header
    .left {
        width: 25%;
        display: table-cell;
            
        span {
            margin-left: 2em;
            font-weight: 700;
        }
    }
    //central sect. of header
    .central {
        width: 50%;
        display: table-cell;
        text-align: center;
            
        span {
            font-weight: 700;
            font-size: 1.5em;
        }
    }
    //right sect. of header
    .right {
        @extend .left;
    }
}

//product page flexbox

.product {
    background-color: $main-bgcolor;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 3em 5em 5em 5em;
    
    .product-left {
        width: 25em;
        height: 25em;
        padding-right: 2em;

        img {
            height: 25em;
            width: 25em;
        }
    }

    .product-right {
        width: 25em;
        height: 25em;
        padding-left: 2em;

        .product-text {

            text-align: left;
            padding-right: 5em;
       
            .product-name {
                font-size: 1.4em;
                font-weight: 700;
            }
            .product-price {
                font-size: 1.2em;
            }
            .product-description {
                margin-top: .5em;
                font: 1.2em 1.5em $blog-font;
            }
            .product-specifics {
                margin-top: 1em;
                font: 1.2em 1.5em $primary-font;
            }
            .product-button {
                position: relative;
                top: 1em;
                display: inline-block;
                padding: 1.3em 7em;
                background-color: $button-bgcolor;
                border: none;
                font: 700 .9em $primary-font;
                @include buttonhover-transition();

                    &:hover {
                        background-color: 
           $button-bgcolor-hover;
                  }
              }
            }
        }
    }

/*LINKS*/

/*header links*/

.hmenu {
    a {
        @include menu-transition();
        color: $header-linkcolor;
        text-decoration: none;
    
        &:hover, &:active {
            color: $black;
        }
    }
}

//burger menu 

.burger {
    width: 30px;
    height: 45px;
    position: absolute;
    top: 2.5em;
    right: 3.5em;
    //@include menu-transition();
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $header-linkcolor;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        
        &:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        
        &:nth-child(2) {
            top: 8px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center; 
        }
        
        &:nth-child(3) {
            top: 16px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
    }
    
    &:hover, &:active {
            color: $black;
    }
}

//burger click animation

.open {
    span {
        &:nth-child(1) {
           -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); 
            top: -5px;
            left: 0px;
        }
            
        &:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
            
        &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 16px;
            left: 0px;
        }
    }
}

/*main links*/

.featgood {
    a {
        font: 1em $secondary-font;
        font-weight: 400;
        color: $primary-fontcolor;
        text-decoration: none;
        
        &:hover, &:active {
            color: $black;
        }
        
        .price {
            font: 0.9em $primary-font;
        }
    }
    
    figcaption {
        position: relative;
        //top: -1em;
    }
}

.lastupd {
    a {
        color: $main-hdrcolor;
    }
}

//footer links


footer {
    a {
        @include footer-blog-links();
    
        &:hover, &:active {
            color: $black;
        }
    }
}

//blog links

//no underline in blog 
article {
    a {
        text-decoration: none;
    }
}

//button to show whole article
.postbutton{
    a {
        @include footer-blog-links();
    
        &:hover, &:active {
            color: $black;
        }
    }
}
