/* line 78, ../sass/stylesheet.scss */
body {
  font: 16px/1.5 Montserrat, sans-serif;
  color: #303030;
}

/* line 83, ../sass/stylesheet.scss */
strong {
  font-weight: 700;
}

/*responsiveness test*/
@media (max-width: 649px) and (orientation: portrait) {
  /* line 99, ../sass/stylesheet.scss */
  body {
    font-size: 12px;
  }
  /* line 102, ../sass/stylesheet.scss */
  body .lastupd {
    font-size: 1.2em;
  }
  /* line 108, ../sass/stylesheet.scss */
  body article img {
    margin-top: 2em;
  }
  /* line 112, ../sass/stylesheet.scss */
  body article .flexpost {
    padding: 3em 4.5em .8em 3em;
  }
  /* line 115, ../sass/stylesheet.scss */
  body article .flexpost iframe {
    height: 100px;
  }

  /* line 121, ../sass/stylesheet.scss */
  .featgood img {
    height: 20em;
    width: 20em;
    margin: 2em;
  }

  /* line 129, ../sass/stylesheet.scss */
  footer .fmenu li {
    display: inherit;
    text-align: center;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  /* line 138, ../sass/stylesheet.scss */
  body {
    font-size: 14px;
  }
  /* line 143, ../sass/stylesheet.scss */
  body article img {
    margin-top: 2em;
  }
  /* line 147, ../sass/stylesheet.scss */
  body article .flexpost {
    padding: 3em 6em 3em 6em;
  }

  /* line 152, ../sass/stylesheet.scss */
  .featgood img {
    height: 20em;
    width: 20em;
    margin: 2em;
  }

  /* line 160, ../sass/stylesheet.scss */
  footer .fmenu li {
    display: inherit;
    text-align: center;
  }
}
/**/
/*header stuff*/
/* line 200, ../sass/stylesheet.scss */
header {
  background-color: #f7f7f7;
  background-image: url("../images/cover/cover-1.jpg");
  padding: 12.2em 4em 15em 2em;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /*HANDWOOD text*/
}
/* line 206, ../sass/stylesheet.scss */
header h1 {
  text-align: right;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: .1em;
}
/* line 211, ../sass/stylesheet.scss */
header h1 .uniqhdr {
  opacity: 1;
  transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
  transition: box-shadow opacity .7s ease-in-out;
}

/* main menu ul and li */
/* line 225, ../sass/stylesheet.scss */
.wrapper {
  opacity: 0;
  transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
  transition: box-shadow opacity .7s ease-in-out;
}

/* line 235, ../sass/stylesheet.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 238, ../sass/stylesheet.scss */
ul.hmenu {
  font: 1.2em Vollkorn, serif;
  text-decoration: none;
  text-align: right;
  position: relative;
  top: 12em;
}
/* line 245, ../sass/stylesheet.scss */
ul.hmenu li {
  margin-right: 0.7em;
  font-weight: 400;
  font-style: italic;
  display: inline;
}

/* line 254, ../sass/stylesheet.scss */
.addhdr {
  text-transform: uppercase;
  position: relative;
  top: 2.15em;
  right: 7.3em;
  text-align: right;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: .1em;
}

/*end of header stuff*/
/*main part of body stuff*/
/*header for the site sections*/
/* line 270, ../sass/stylesheet.scss */
.sectitle {
  background-color: #f5f5f5;
  background-position: center;
  padding: 3em;
  text-align: center;
}
/* line 276, ../sass/stylesheet.scss */
.sectitle .sectitletext {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: .5em;
  letter-spacing: .1em;
}

/*featured goods section*/
/* line 285, ../sass/stylesheet.scss */
section {
  background-color: #f7f7f7;
  padding-bottom: 2em;
}
/* line 289, ../sass/stylesheet.scss */
section .featgood {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5em;
  text-align: center;
}
/* line 299, ../sass/stylesheet.scss */
section .featgood:empty {
  content: "";
  flex: auto;
}
/* line 305, ../sass/stylesheet.scss */
section figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  box-sizing: border-box;
}
/* line 313, ../sass/stylesheet.scss */
section figure img {
  margin: 1.5em;
  -o-transition: box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out;
  -moz-transition: box-shadow 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  width: 15em;
}

/* line 322, ../sass/stylesheet.scss */
.button {
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #303030;
  padding: 1em 3em;
  background-color: #f7f7f7;
  font: 700 0.9em Montserrat, sans-serif;
  color: #303030;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
/* line 335, ../sass/stylesheet.scss */
.button:hover {
  background-color: #D6D6D6;
}

/*  this way doesn't work and i don't understand why
    should try it later
    THIS
    http://tobiasahlin.com/blog/how-to-animate-box-shadow/

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);


.featgood img::after {
    -webkit-box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    box-shadow: 2px 26px 60px -9px rgba(0,0,0,0.34);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.featgood img:hover::after {
      opacity: 1;
}
*/
/* line 363, ../sass/stylesheet.scss */
.featgood img:hover {
  -webkit-box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
  -moz-box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
  box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
}

/* line 367, ../sass/stylesheet.scss */
.featgood figure {
  display: inline-block;
}

/*last updates section*/
/* line 373, ../sass/stylesheet.scss */
.lastupd {
  display: flex;
  flex-flow: column;
  align-items: center;
  font: 2em Vollkorn, serif;
  color: #fdfdfd;
  letter-spacing: 0.17em;
  background-color: #f7f7f7;
  padding-bottom: 2.5em;
  text-align: center;
}

/*block for content placement*/
/* line 387, ../sass/stylesheet.scss */
.newsblock {
  -o-transition: box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out;
  -moz-transition: box-shadow 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  width: 35em;
  height: 10em;
  line-height: 10em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
/* line 395, ../sass/stylesheet.scss */
.newsblock:hover {
  -webkit-box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
  -moz-box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
  box-shadow: 0px 51px 61px -11px rgba(99, 99, 99, 0.6);
}

/*content block styles*/
/* line 402, ../sass/stylesheet.scss */
#newskhomich {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../images/lastupd/khomich.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 410, ../sass/stylesheet.scss */
#newscreate {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../images/lastupd/create.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 418, ../sass/stylesheet.scss */
#newsflava {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../images/lastupd/flava.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/*end of main part of body stuff*/
/*footer stuff*/
/* line 429, ../sass/stylesheet.scss */
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 2em 2em;
  color: #3c3d3d;
}

/*follow footer menu*/
/* line 439, ../sass/stylesheet.scss */
.follow {
  line-height: 1.8em;
  font-size: 1.5em;
}
/* line 443, ../sass/stylesheet.scss */
.follow li {
  display: inline;
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

/*info footer menu*/
/* line 452, ../sass/stylesheet.scss */
.fmenu {
  margin-top: 2em;
}
/* line 455, ../sass/stylesheet.scss */
.fmenu li {
  display: inline;
  font-size: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* line 465, ../sass/stylesheet.scss */
.ftext {
  margin-top: 1em;
  font: 700 1.4em Montserrat, sans-serif;
}

/*end of footer stuff*/
/* line 476, ../sass/stylesheet.scss */
article {
  background-color: #fafafa;
}
/* line 480, ../sass/stylesheet.scss */
article .flexpost {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3em 14em 3em 14em;
}
/* line 488, ../sass/stylesheet.scss */
article h2 {
  font: 700 3em Montserrat, sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.3em;
}
/* line 496, ../sass/stylesheet.scss */
article .postinfo {
  margin-bottom: 2em;
  text-transform: uppercase;
  color: #626262;
}
/* line 502, ../sass/stylesheet.scss */
article .postinfo span {
  color: #000;
}
/* line 522, ../sass/stylesheet.scss */
article .posttext {
  font: 1em/1.5 Roboto, sans-serif;
}
/* line 525, ../sass/stylesheet.scss */
article .posttext span {
  font-weight: 700;
}
/* line 531, ../sass/stylesheet.scss */
article .postimg {
  width: 100%;
  text-align: center;
}
/* line 537, ../sass/stylesheet.scss */
article .postauthor {
  margin: 5em;
  text-align: center;
}
/* line 543, ../sass/stylesheet.scss */
article .postauthor img {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
/* line 551, ../sass/stylesheet.scss */
article .postauthor p {
  margin-top: .5em;
  font: 700 1.8em Montserrat, sans-serif;
}
/* line 556, ../sass/stylesheet.scss */
article .postauthor p span {
  font: 0.6em Vollkorn, serif;
  color: #626262;
}

/* line 567, ../sass/stylesheet.scss */
.bottomspace {
  background-color: #fafafa;
  padding: 2em;
  text-align: center;
  overflow: hidden;
}

/* line 577, ../sass/stylesheet.scss */
.product-header {
  background: #f5f5f5;
  background-image: none;
  font: Montserrat, sans-serif;
  color: #303030;
  height: 3em;
  width: 100%;
  line-height: 3em;
  padding: .7em 0em .7em 0em;
  display: table;
}
/* line 589, ../sass/stylesheet.scss */
.product-header .left, .product-header .right {
  width: 25%;
  display: table-cell;
}
/* line 593, ../sass/stylesheet.scss */
.product-header .left span, .product-header .right span {
  margin-left: 2em;
  font-weight: 700;
}
/* line 599, ../sass/stylesheet.scss */
.product-header .central {
  width: 50%;
  display: table-cell;
  text-align: center;
}
/* line 604, ../sass/stylesheet.scss */
.product-header .central span {
  font-weight: 700;
  font-size: 1.5em;
}

/* line 617, ../sass/stylesheet.scss */
.product {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 3em 5em 5em 5em;
}
/* line 624, ../sass/stylesheet.scss */
.product .product-left {
  width: 25em;
  height: 25em;
  padding-right: 2em;
}
/* line 629, ../sass/stylesheet.scss */
.product .product-left img {
  height: 25em;
  width: 25em;
}
/* line 635, ../sass/stylesheet.scss */
.product .product-right {
  width: 25em;
  height: 25em;
  padding-left: 2em;
}
/* line 640, ../sass/stylesheet.scss */
.product .product-right .product-text {
  text-align: left;
  padding-right: 5em;
}
/* line 645, ../sass/stylesheet.scss */
.product .product-right .product-text .product-name {
  font-size: 1.4em;
  font-weight: 700;
}
/* line 649, ../sass/stylesheet.scss */
.product .product-right .product-text .product-price {
  font-size: 1.2em;
}
/* line 652, ../sass/stylesheet.scss */
.product .product-right .product-text .product-description {
  margin-top: .5em;
  font: 1.2em 1.5em Roboto, sans-serif;
}
/* line 656, ../sass/stylesheet.scss */
.product .product-right .product-text .product-specifics {
  margin-top: 1em;
  font: 1.2em 1.5em Montserrat, sans-serif;
}
/* line 660, ../sass/stylesheet.scss */
.product .product-right .product-text .product-button {
  position: relative;
  top: 1em;
  display: inline-block;
  border: 2px solid;
  padding: 1.3em 7em;
  background-color: #f7f7f7;
  font: 700 0.9em Montserrat, sans-serif;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
/* line 672, ../sass/stylesheet.scss */
.product .product-right .product-text .product-button:hover {
  background-color: #D6D6D6;
}

/*LINKS*/
/*header links*/
/* line 686, ../sass/stylesheet.scss */
.hmenu a {
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  color: #616161;
  text-decoration: none;
}
/* line 691, ../sass/stylesheet.scss */
.hmenu a:hover, .hmenu a:active {
  color: #000;
}

/* line 699, ../sass/stylesheet.scss */
.burger {
  width: 30px;
  height: 45px;
  position: absolute;
  top: 2.5em;
  right: 3.5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
/* line 715, ../sass/stylesheet.scss */
.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #616161;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 731, ../sass/stylesheet.scss */
.burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 739, ../sass/stylesheet.scss */
.burger span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 747, ../sass/stylesheet.scss */
.burger span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 756, ../sass/stylesheet.scss */
.burger:hover, .burger:active {
  color: #000;
}

/* line 765, ../sass/stylesheet.scss */
.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
  left: 0px;
}
/* line 774, ../sass/stylesheet.scss */
.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 779, ../sass/stylesheet.scss */
.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}

/*main links*/
/* line 793, ../sass/stylesheet.scss */
.featgood a {
  font: 1em Vollkorn, serif;
  font-weight: 400;
  color: #303030;
  text-decoration: none;
}
/* line 799, ../sass/stylesheet.scss */
.featgood a:hover, .featgood a:active {
  color: #000;
}
/* line 803, ../sass/stylesheet.scss */
.featgood a .price {
  font: 0.9em Montserrat, sans-serif;
}
/* line 808, ../sass/stylesheet.scss */
.featgood figcaption {
  position: relative;
}

/* line 815, ../sass/stylesheet.scss */
.lastupd a {
  color: #f5f5f5;
  text-decoration: none;
}

/* line 825, ../sass/stylesheet.scss */
footer a {
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  color: #767877;
  text-decoration: none;
}
/* line 828, ../sass/stylesheet.scss */
footer a:hover, footer a:active {
  color: #000;
}

/* line 838, ../sass/stylesheet.scss */
article a {
  text-decoration: none;
}

/* line 845, ../sass/stylesheet.scss */
.postbutton a {
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  color: #767877;
  text-decoration: none;
}
/* line 848, ../sass/stylesheet.scss */
.postbutton a:hover, .postbutton a:active {
  color: #000;
}
